<nav>
    <div class="container" style="padding:0 ;">
        <div class="nav__inner">

            <a href="/">
                <div class="logo"><img src="/images/logo.png"></div>
            </a>
            <div class="nav__search__box">
                <input type="text" placeholder="Введите то, что хотите найти...">
                <select name="" id="">
                    <option value="">Все категории</option>
                </select>
            </div>
            <div class="nav__search__buttons">
                <button class="btn">ИСКАТЬ</button>
                <button class="btn alt">ДОБАВИТЬ ОБЪЯВЛЕНИЕ</button>
                <button class="btn">ВХОД</button>
                <button class="btn">РЕГИСТРАЦИЯ</button>
            </div>
            <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
                <i class="fas fa-bars"></i>
            </label>
        </div>
    </div>
</nav>