<aside class="marketplace__sidebar">

    <!-- <button class="btn">Сбросить фильтры</button> -->
    <div class="tabs">
        <div class="tab">
            <input type="checkbox" id="1" class="accordion">
            <label class="tab-label" for="1">Тип предложения</label>
            <div class="tab-content">
                <div class="tab">
                    <input type="checkbox" id="4" class="accordion">
                    <label class="tab-label" for="4">Lorem Morem</label>
                    <!-- <div class="tab-content">
                        <select name="type" id="1">
                            <option>Продам</option>
                            <option>Продам</option>
                            <option>Продам</option>
                        </select>
                    </div> -->
                </div>
            </div>
            <div class="hr alt"></div>
        </div>
        <div class="tab">
            <input type="checkbox" id="5" class="accordion">
            <label class="tab-label" for="5">Тип предложения</label>
            <div class="tab-content">
                <select name="type" id="1">
                    <option>Продам</option>
                    <option>Продам</option>
                    <option>Продам</option>
                </select>
            </div>
            <div class="hr alt"></div>

        </div>
        <div class="tab">
            <input type="checkbox" id="44" class="accordion">
            <label class="tab-label" for="44">Тип предложения4</label>
            <div class="tab-content">
                <select name="type" id="">
                    <option >Продам</option>
                    <option >Продам</option>
                    <option >Продам</option>
                </select>
            </div>
            <div class="hr alt"></div>

        </div>
        <div class="tab ">
            <input type="checkbox" id="77" class="accordion">
            <label class="tab-label" for="77">Тип предложения8</label>
            <div class="tab-content ">
                <div class="tab ">
                    <input type="checkbox" id="88" class="accordion ">
                    <label class="tab-label " for="88">Lorem Morem</label>
                    <!-- <div class="tab-content ">
                        <select name="type " id="1 ">
                            <option>Продам</option>
                            <option>Продам</option>
                            <option>Продам</option>
                        </select>
                    </div> -->
                </div>
            </div>
            <div class="hr alt"></div>

        </div>
    </div>

</aside>