.btn {
    cursor: pointer;
    outline: none;
    border: none;
    padding: 0 14px;
    height: 50px;
    // border-radius: 5px;
    font-size: 13px;
    font-weight: 500;
    background-color: $lightgrey;
    transition: .3s;
    &:hover {
        background-color: $grey;
    }
}

//Alternate Button
.btn.alt {
    cursor: pointer;
    outline: none;
    border: none;
    padding: 0 14px;
    height: 50px;
    color: white;
    font-size: 13px;
    background-color: $grey;
    transition: .3s;
    background-color: $green;
    &:hover {
        background-color: $lightgreen;
    }
}